<?php include('_layouts/_includes/contact_info.php');?>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ANS Student Conference 2022</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/nav.css">
    <style>
        p.indent {
            padding-left: 1.8em
        }
    </style>
</head>

<body>

    <head>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" data-toggle="collapse" data-target="#navigation" href="#"><i
                            class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i></a>
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.php"><img src="img/round_nobkg_w:white.png" alt="logo" width="60px"></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                role="button" aria-expanded="false">Welcome

                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="index.php">Home</a>
                                </li>
                                <li>
                                    <a href="about_ans.php">About ANS</a>
                                </li>
                                <li>
                                    <a href="code_of_ethics.php">Code of Ethics</a>
                                </li>
                                <li>
                                    <a href="respectful_behavior_policy.php">Respectful Behavior Policy</a>
                                </li>
                                <li>
                                    <a href="statement_on_diversity.php">Statement on Diversity</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                role="button" aria-expanded="false">Program

                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="agenda.php">Agenda</a>
                                </li>
                                <li>
                                    <a href="career_fair.php">Career Fair</a>
                                </li>
                                <li>
                                    <a href="speakers.php">Speakers</a>
                                </li>
                                <li>
                                    <a href="socials.php">Socials</a>
                                </li>
                                <li>
                                    <a href="tours.php">Tours</a>
                                </li>
                                <li>
                                    <a href="workshops.php">Workshops</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                role="button" aria-expanded="false">Transportation

                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="accommodations.php">Accommodations</a>
                                </li>
                                <li>
                                    <a href="travel_arrangements.php">Travel Arrangements</a>
                                </li>
                                <li>
                                    <a
                                        href="https://www.google.com/maps/d/u/1/viewer?mid=1DZlVNqQaclivoKJtnRSdl__ObGnnHg2a&ll=40.11294072042654%2C-88.22797958547415&z=15">Once
                                        You're Here</a>
                                </li>
                                <li>
                                    <a href="hotel_information.php">Hotel Information</a>
                                </li>


                            </ul>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                role="button" aria-expanded="false">Attend

                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="call_for_papers.php">Call for Papers</a>
                                </li>
                                <li>
                                    <a href="registration.php">Registration</a>
                                </li>
                        </li>
                    </ul>
                    <li>
                        <a href="sponsorship.php">Sponsorship</a>
                    </li>
                    <li>
                        <a href="contact_us.php">Contact Us</a>
                    </li>
                    <li>
                        <div class="social-links" position="relative">
                            <a href=<?php echo $twitter; ?>><i class="fa fa-twitter"></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="social-links" position="relative">
                            <a href=<?php echo $facebook; ?>><i class="fa fa-facebook"></i></a>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </head>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row web-header">
            <div class="col-md-12 col-md-offset-1 header-text">
                <h1>2022 ANS Student Conference</h1>
                <h2>Saving the World One Atom at a Time</h2>
            </div>
        </div>
    </div>