
<!DOCTYPE html>

<html>
    <head>
    <script src="jquery.js"></script>
    <script>
        $(function () {
            $("#DivContentnav").load("navbar.html");
        });
    </script>

    <script src="jquery.js"></script>
    <script>
        $(function () {
            $("#DivContentfooter").load("footer.html");
        });
    </script>
</head>
<body>
  <div id="DivContentnav"></div>
</body>
    <--! insert content here -->
        
        
<body>
  <div id="DivContentfooter"></div>
</body>
</html>
